@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

/* Navbar */
.navbar {
    background-color: #ffdc00;
    font-family: "Roboto", serif;
    font-size: larger;
    font-weight: 300;
}

.navbar a,
.navbar a:hover,
.navbar a:active {
    color: var(--clr-white);
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar img {
    display:inline-block;
    max-height: 4rem;
    margin-right: 0.5rem;
}

.nav-text {
    color: var(--clr-white);
    font-weight: 500;
}

/* Index Page */
.Hogsmeade-ind {
    background-color: #1b0132;
    border-style: solid;
    border-color: #ffdc00;
}

.main-heading {
    color: #1b0132;
}

.nav-item {
    margin-right: 1rem;
    color: #1b0132;
}

body {
    font-family: 'Roboto', serif;
    background-color: #1b0132;
}

/* Spacing */
.gap100 {
    padding: 40px 0px;
}

.spacing-div {
    margin-bottom: 0;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
}

.top-space {
    margin-top: 5px;
}

/* Div Positioning */
div {
    display: block;
}

/* Text Decoration */
.attract-h2 {
    text-decoration: underline;
    color: #ffdc00;
}

td {
    font-size: 120%;
}

/* Colors */
h3, .attract-h5 {
    color:#ffdc00
}

p, caption {
    color:cornsilk;
    font-size: 120%;
}

/* Live Events Table */
.table-dark {
    --bs-table-bg:#1b0132;
    }

tbody, tfoot, thead {
    border-top-color:#ffdc00;
    border-left-color: #ffdc00;
    border-right-color: #ffdc00;
    border-bottom-color: #ffdc00;
    border-width: 3px;
}

/* Images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Padding for Icons and H2 Titles */
span {
    padding-left: 10px;
}
/* Carousel */
.carousel-inner {
    height: 492px;
    
}
.carousel-item img {
    margin:auto;

}
h5 {
    font-family: 'Roboto', serif;
    color:cornsilk;
}

.about-hog h2 {
    color: #ffdc00;
}


.about-hog {
    margin-bottom: 100px;
    text-align: center;
}

/* Footer */
.footer {
    background-color: #ffdc00;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    color: #1b0132;
}

.copyright {
    width: 49%;
    float: left;
    display: inline;
}

#socialmedia {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

#socialmedia i {
    font-size: 120%;
    padding: 25%;
    color: #1b0132;
}
<<<<<<< HEAD

/*-------------------------------- Visitor Information*/
 .visit-h3 {
    color: #ffdc00;
}
.visit-h2{
   color: #ffdc00;
}
.Transport-head {
    padding: 20px;
}
.Travel-info {
    color: cornsilk;
    padding: 15px 0;
    font-size: 20px;
}
img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img-travel {
    max-width: 50%;
    max-height: 50%;
    margin-left: 45px;
}
li {
    color: cornsilk;
    font-size: 20px;
    padding: 5px;
}
.form-label {
    color: cornsilk;
    font-size: 20px;
}
.btn {
    margin-top: 10px;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 23px;
    background-color: #ffdc00;
    width: 160px;
    border-color: #1b0132;
}
.btn--primary:hover,
.btn--primary:active,
.btn--primary:focus,
.btn--primary:active:focus {
    background-color: orangered;
    border-color: black;

}
iframe {
    text-align: center;
    margin: 0 6rem
}
.map-btn {
    background-color: #ffdc00;
    color: #1b0132;
    font-size: 22px;
}
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    
}
.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 10px;
    width: 100%;
    height: 100%;
    border: 0;

}





=======
>>>>>>> main
